<server description="defaultServer">

    <featureManager>
        <feature>jsf-2.3</feature>
        <feature>jaxrs-2.1</feature>
        <feature>ejbLite-3.2</feature>
        <feature>cdi-2.0</feature>
        <feature>beanValidation-2.0</feature>
        <feature>jpa-2.2</feature>
        <feature>jsonb-1.0</feature>
        <feature>jaxb-2.2</feature>
    </featureManager>

    <httpEndpoint host="*" httpPort="9080" httpsPort="-1" id="defaultHttpEndpoint" />

    <dataSource id="JakartaEECafeDB" jdbcDriverRef="postgresql-driver"
        jndiName="jdbc/JakartaEECafeDB" transactional="true"
        type="javax.sql.ConnectionPoolDataSource">
        <properties databaseName="postgres" password="" portNumber="5432"
            serverName="172.17.0.2" user="postgres" />
    </dataSource>

    <jdbcDriver id="postgresql-driver"
        javax.sql.ConnectionPoolDataSource="org.postgresql.ds.PGConnectionPoolDataSource"
        javax.sql.XADataSource="org.postgresql.xa.PGXADataSource" libraryRef="postgresql-library" />

    <library id="postgresql-library">
        <fileset dir="${shared.resource.dir}" id="PostgreSQLFileset"
            includes="postgresql-42.2.18.jar" />
    </library>
</server>