<server description="defaultServer">

	<!-- Enable features -->
	<featureManager>
		<feature>javaee-8.0</feature>
		<feature>adminCenter-1.0</feature>
                <feature>collectiveController-1.0</feature>
	</featureManager>

         <!-- Define the host name for use by the collective.
              If the host name needs to be changed, the server should be
              removed from the collective and re-joined or re-replicated. -->
        <variable name="defaultHostName" value="172.17.0.3" />

	<!-- This template enables security. To get the full use of all the capabilities,
		a keystore and user registry are required. -->

	<!-- For the keystore, default keys are generated and stored in a keystore.
		To provide the keystore password, generate an encoded password using bin/securityUtility
		encode and add it below in the password attribute of the keyStore element.
		Then uncomment the keyStore element. -->
	<!-- <keyStore password=""/> -->

	<!--For a user registry configuration, configure your user registry. For
		example, configure a basic user registry using the basicRegistry element.
		Specify your own user name below in the name attribute of the user element.
		For the password, generate an encoded password using bin/securityUtility
		encode and add it in the password attribute of the user element. Then uncomment
		the user element. -->
	<basicRegistry id="basic" realm="BasicRealm">
		<user name="admin" password="admin123"/>
	</basicRegistry>

	<administrator-role>
		<user>admin</user>
	</administrator-role>

	<!-- To access this server from a remote client add a host attribute to
		the following element, e.g. host="*" -->
	<httpEndpoint host="*" httpPort="9080" httpsPort="9443" protocolVersion = "http/1.1"
		id="defaultHttpEndpoint" />

	<remoteFileAccess>
		<writeDir>${server.config.dir}</writeDir>
	</remoteFileAccess>
</server>
